@mixin alert-variant($background, $border, $iconcolor) {
  background-color: $background;
  border: 1px solid $border;
  .icon {
    color: $iconcolor;
  }
}
@mixin alert-banner($background, $color) {
  background-color: $background;
  color: $color;
}
%alert-default {
  position: relative;
  display: flex;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5rem;
}
.iv-alert {
  @extend %alert-default;
  margin: 1.25rem 0;
  border-radius: 0.25rem;
  padding: 0.32rem 1rem;
  color: $iv-neutral-7;
  .alert-icon {
    flex: 0 0 1.0416666667rem;
    align-self: flex-start;
    padding-right: 0.5625rem;
    font-size: 1.5rem;
    line-height: 1.75rem;
  }
  .action {
    position: absolute;
    top: 0.688rem;
    right: 0.688rem;
    font-size: 1rem;
    color: $iv-neutral-7;
    cursor: pointer;
    height: 1rem;
    width: 1rem;
    line-height: 1rem;
    &:hover {
      color: $iv-neutral-9;
    }
  }
  &.success {
    @include alert-variant($iv-green-0, $iv-green-4, $iv-green-7);
  }
  &.info {
    @include alert-variant($iv-blue-0, $iv-blue-3, $iv-blue-6);
  }
  &.warning {
    @include alert-variant($iv-yellow-0, $iv-yellow-5, $iv-yellow-7);
  }
  &.error {
    @include alert-variant($iv-red-0, $iv-red-3, $iv-red-6);
  }
}
.iv-alert-banner {
  @extend %alert-default;
  .content {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0.5rem 0;
  }
  &.error {
    @include alert-banner($iv-red-7, $iv-light);
  }
  &.warning {
    @include alert-banner($iv-yellow-7, $iv-dark);
  }
  &.info {
    @include alert-banner($iv-blue-7, $iv-light);
  }
}
