@use "./common/tokens" as tokens;
@use "./common/mixins" as mixins;

@mixin alert-variant($color-name, $bg-shade, $border-shade, $icon-shade) {
  background-color: tokens.ivory-color($color-name, $bg-shade);
  border: 1px solid tokens.ivory-color($color-name, $border-shade);
  .iv-alert-icon {
    color: tokens.ivory-color($color-name, $icon-shade);
  }
}
@mixin alert-banner($color-name, $bg-shade, $text-color-name, $text-shade) {
  background-color: tokens.ivory-color($color-name, $bg-shade);
  color: tokens.ivory-color($text-color-name, $text-shade);
}
%alert-default {
  position: relative;
  display: flex;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5rem;
}
.iv-alert {
  @extend %alert-default;
  margin: 1.25rem 0;
  border-radius: 0.25rem;
  padding: 0.32rem 1rem;
  color: tokens.ivory-color(neutral, 700);
  .alert-icon {
    flex: 0 0 1.0416666667rem;
    align-self: flex-start;
    padding-right: 0.5625rem;
    @include mixins.text-size(1.5rem, 1.75rem);
  }
  .action {
    position: absolute;
    top: 0.688rem;
    right: 0.688rem;
    color: tokens.ivory-color(neutral, 700);
    cursor: pointer;
    height: 1rem;
    width: 1rem;
    @include mixins.text-size(1rem, 1rem);
    &:hover {
      color: tokens.ivory-color(neutral, 900);
    }
  }
  &-success {
    @include alert-variant(success, 100, 400, 700);
  }
  &-info {
    @include alert-variant(info, 100, 400, 600);
  }
  &-warning {
    @include alert-variant(warning, 100, 500, 700);
  }
  &-error {
    @include alert-variant(error, 100, 300, 600);
  }
}
.iv-banner {
  @extend %alert-default;
  &-content {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0.5rem 0;
  }
  &-error {
    @include alert-banner(error, 700, neutral, 50);
  }
  &-warning {
    @include alert-banner(warning, 700, neutral, 900);
  }
  &-info {
    @include alert-banner(info, 700, neutral, 50);
  }
}
@media only screen and (max-width: 960px) {
  .iv-banner {
    &-content {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}
