.iv-badge {
  padding: 0 0.313rem;
  background-color: $iv-neutral-7;
  color: $iv-light;
  display: inline-block;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1rem;
  min-width: 0.938rem;
  border-radius: 0.5rem;
  text-align: center;
  &.success, &.green {
    background-color: $iv-green-7;
  }
  &.warning, &.yellow {
    background-color: $iv-yellow-7;
  }
  &.error, &.danger, &.red {
    background-color: $iv-red-7;
  }
  &.dot {
    width: 0.375rem;
    height: 0.375rem;
    border-radius: 50%;
    padding: 0;
    min-width: unset;
    overflow: hidden;
    line-height: 0;
    color: transparent;
  }
}
.iv-badge-group {
  position: relative;
  display: inline-block;
  .iv-badge {
    position: absolute;
    right: 0;
    top: 0;
    vertical-align: baseline;
    transform: translate(50%,-50%);
  }
}
