.iv-breadcrumb {
  position: relative;
  display: block;
  margin: 1.5rem 0;
  &>li {
    @include text-size(0.8125rem, 1.5rem);
    display: inline-block;
    &::after {
      content: '/';
    }
    &:first-child {
      a {
        margin-left: 0;
      }
    }
    &:last-child {
      &::after {
        content: '';
      }
    }
    a {
      @include text-size(0.8125rem, 1.5rem);
      margin: 0 10px;
    }
    span {
      @include text-size(0.8125rem, 1.5rem);
      margin-left: 10px;
    }
  }
}
