%ivory-button {
  border: none;
  height: 2rem;
  margin: 0.75rem 0;
  padding: 0 1.25rem;
  border-radius: 0.25rem;
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.75rem;
  color: #495057;
  background-color: #DEE2E6;
  outline: none;
  cursor: pointer;
  &:hover, &:focus {
    outline: none;
    background-color: #F1F3F5;
  }
}
@mixin btn-s-colors($background, $border) {
  background-color: $background;
  border-color: $border;
}
/* Solid Buttons */
.ivory-btn {
  @extend %ivory-button;
  border: 1px solid #E8EBED;
  &.btn-primary {
    @include btn-s-colors(#0875E1, #0875E1);
    color: #FFFFFF;
    &:hover, &:focus {
      outline: none;
      @include btn-s-colors(#005CB9, #005CB9);
    }
  }
  &.btn-success {
    @include btn-s-colors(#52C41A, #52C41A);
    color: #FFFFFF;
    &:hover, &:focus {
      outline: none;
      @include btn-s-colors(#389E0D, #389E0D);
    }
  }
  &.btn-danger {
    @include btn-s-colors(#F03E3E, #F03E3E);
    color: #FFFFFF;
    &:hover, &:focus {
      outline: none;
      @include btn-s-colors(#E03131, #E03131);
    }
  }
  &.disabled, &:disabled, &[disabled] {
    background-color: rgba(0, 0, 0, 0.12);
    color: rgba(0, 0, 0, 0.25);
    cursor: not-allowed;
    border: none;
    &:hover, &:focus {
      outline: none;
      @include btn-s-colors(rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.25));
    }
  }
  &.btn-ro {
    border-radius: 1.5rem;
  }
}
/* Outline Buttons */
.ivory-btn-o {
  @extend %ivory-button;
  border: 1px solid #868E96;
  background: #FFFFFF;
  &.btn-primary {
    border: 1px solid #0875e1;
    color: #0875e1;
    &:hover {
      outline: none;
      background-color: #F4F9FF;
    }
  }
  &.btn-success {
    border: 1px solid #52C41A;
    color: #389E0D;
    &:hover {
      outline: none;
      background-color: #F6FFED;
    }
  }
  &.btn-danger {
    border: 1px solid #F03E3E;
    color: #F03E3E;
    &:hover {
      outline: none;
      background-color: #FFF1F5;
    }
  }
  &.disabled, &:disabled, &[disabled] {
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    color: rgba(0, 0, 0, 0.25);
    cursor: not-allowed;
  }
  &.btn-ro {
    border-radius: 1.5rem;
  }
}
/* Flat Buttons */
.ivory-btn-f {
  @extend %ivory-button;
  background: transparent;
  border: none;
  &.btn-primary {
    color: #0875e1;
    &:hover {
      outline: none;
      background-color: #E3EFFE;
    }
  }
  &.btn-success {
    color: #389E0D;
    &:hover {
      outline: none;
      background-color: #E8FCCF;
    }
  }
  &.btn-danger {
    color: #F03E3E;
    &:hover {
      outline: none;
      background-color: #FFE8E8;
    }
  }
  &.disabled, &:disabled, &[disabled] {
    background: transparent;
    color: rgba(0, 0, 0, 0.25);
    cursor: not-allowed;
  }
}
.btn-sm {
  height: 1.75rem;
  padding-left: 0.875rem;
  padding-right: 0.875rem;
  font-size: 0.75rem;
  line-height: 1.5rem;
  border-radius: 0.25rem;
  &.btn-ro {
    border-radius: 1rem;
  }
}