%button {
  border: none;
  height: 2.25rem;
  margin: 0.75rem 0;
  padding: 0 1.5rem;
  border-radius: 0.25rem;
  color: color(gray-7);
  background-color: color(gray-1);
  outline: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  @include text-size(0.875rem, 2rem);
  &:hover, &:focus {
    outline: none;
    background-color: color(gray-2);
  }
}
@mixin btn-solid-colors($background, $border) {
  background-color: color($background);
  border-color: color($border);
}

/* Solid Buttons */
.iv-btn {
  @extend %button;
  border: 1px solid color(gray-3);
  &.btn-primary {
    @include btn-solid-colors(blue-7, blue-7);
    color: color(light);
    &:hover, &:focus {
      outline: none;
      @include btn-solid-colors(blue-8, blue-8);
    }
  }
  &.btn-success {
    @include btn-solid-colors(green-7, green-7);
    color: color(light);
    &:hover, &:focus {
      outline: none;
      @include btn-solid-colors(green-8, green-8);
    }
  }
  &.btn-danger {
    @include btn-solid-colors(red-7, red-7);
    color: color(light);
    &:hover, &:focus {
      outline: none;
      @include btn-solid-colors(red-8, red-8);
    }
  }
  &.disabled, &:disabled, &[disabled] {
    background-color: rgba(0, 0, 0, 0.12);
    color: rgba(0, 0, 0, 0.25);
    cursor: not-allowed;
    border: none;
    &:hover, &:focus {
      outline: none;
      @include btn-solid-colors(rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.25));
    }
  }
  &.btn-ro {
    border-radius: 1.5rem;
  }
}

/* Outline Buttons */
.iv-btn-o {
  @extend %button;
  border: 1px solid color(gray-6);
  background: color(light);
  &.btn-primary {
    border: 1px solid color(blue-7);
    color: color(blue-7);
    &:hover {
      outline: none;
      background-color: color(blue-0);
    }
  }
  &.btn-success {
    border: 1px solid color(green-7);
    color: color(green-8);
    &:hover {
      outline: none;
      background-color: color(green-0);
    }
  }
  &.btn-danger {
    border: 1px solid color(red-7);
    color: color(red-7);
    &:hover {
      outline: none;
      background-color: color(red-0);
    }
  }
  &.disabled, &:disabled, &[disabled] {
    background: color(light);
    border: 1px solid #D9D9D9;
    color: rgba(0, 0, 0, 0.25);
    cursor: not-allowed;
  }
  &.btn-ro {
    border-radius: 1.5rem;
  }
}

/* Flat Buttons */
.iv-btn-f {
  @extend %button;
  background: color(light);
  border: none;
  &.btn-primary {
    color: color(blue-7);
    &:hover {
      outline: none;
      background-color: #E3EFFE;
    }
  }
  &.btn-success {
    color: color(green-8);
    &:hover {
      outline: none;
      background-color: color(green-1);
    }
  }
  &.btn-danger {
    color: color(red-7);
    &:hover {
      outline: none;
      background-color: color(red-1);
    }
  }
  &.disabled, &:disabled, &[disabled] {
    background: transparent;
    color: rgba(0, 0, 0, 0.25);
    cursor: not-allowed;
  }
}

/* Buttons with different sizes  */
.btn-sm {
  height: 1.75rem;
  padding: 0 1rem;
  border-radius: 0.25rem;
  @include text-size(0.75rem, 1.5rem);
  &.btn-ro {
    border-radius: 1rem;
  }
}
