@use "./common/tokens" as tokens;
@use "./common/mixins" as mixins;

%button {
  border: none;
  height: 2.25rem;
  margin: 0.75rem 0;
  padding: 0 1.5rem;
  border-radius: 0.25rem;
  color: tokens.ivory-color(neutral, 700);
  background-color: tokens.ivory-color(neutral, 100);
  outline: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  @include mixins.text-size(0.875rem, 2rem);
  &:hover, &:focus {
    outline: none;
    background-color: tokens.ivory-color(neutral, 200);
  }
}
@mixin btn-solid-colors($color-name, $shade) {
  background-color: tokens.ivory-color($color-name, $shade);
  border-color: tokens.ivory-color($color-name, $shade);
}

/* Solid Buttons */
.iv-btn {
  @extend %button;
  border: 1px solid tokens.ivory-color(neutral, 300);
  &.btn-primary {
    @include btn-solid-colors(primary, 700);
    color: tokens.ivory-color(neutral, 50);
    &:hover, &:focus {
      outline: none;
      @include btn-solid-colors(primary, 800);
    }
  }
  &.btn-success {
    @include btn-solid-colors(success, 700);
    color: tokens.ivory-color(neutral, 50);
    &:hover, &:focus {
      outline: none;
      @include btn-solid-colors(success, 800);
    }
  }
  &.btn-danger {
    @include btn-solid-colors(error, 700);
    color: tokens.ivory-color(neutral, 50);
    &:hover, &:focus {
      outline: none;
      @include btn-solid-colors(error, 800);
    }
  }
  &.disabled, &:disabled, &[disabled] {
    background-color: rgba(0, 0, 0, 0.12);
    color: rgba(0, 0, 0, 0.25);
    cursor: not-allowed;
    border: none;
    &:hover, &:focus {
      outline: none;
      background-color: rgba(0, 0, 0, 0.12);
      border-color: rgba(0, 0, 0, 0.12);
    }
  }
  &.btn-ro {
    border-radius: 1.5rem;
  }
}

/* Outline Buttons */
.iv-btn-o {
  @extend %button;
  border: 1px solid tokens.ivory-color(neutral, 600);
  background: tokens.ivory-color(neutral, 50);
  &.btn-primary {
    border: 1px solid tokens.ivory-color(primary, 700);
    color: tokens.ivory-color(primary, 700);
    &:hover {
      outline: none;
      background-color: tokens.ivory-color(primary, 100);
    }
  }
  &.btn-success {
    border: 1px solid tokens.ivory-color(success, 700);
    color: tokens.ivory-color(success, 800);
    &:hover {
      outline: none;
      background-color: tokens.ivory-color(success, 100);
    }
  }
  &.btn-danger {
    border: 1px solid tokens.ivory-color(error, 700);
    color: tokens.ivory-color(error, 700);
    &:hover {
      outline: none;
      background-color: tokens.ivory-color(error, 100);
    }
  }
  &.disabled, &:disabled, &[disabled] {
    background: tokens.ivory-color(neutral, 50);
    border: 1px solid #D9D9D9;
    color: rgba(0, 0, 0, 0.25);
    cursor: not-allowed;
  }
  &.btn-ro {
    border-radius: 1.5rem;
  }
}

/* Flat Buttons */
.iv-btn-f {
  @extend %button;
  background: tokens.ivory-color(neutral, 50);
  border: none;
  &.btn-primary {
    color: tokens.ivory-color(primary, 700);
    &:hover {
      outline: none;
      background-color: #E3EFFE;
    }
  }
  &.btn-success {
    color: tokens.ivory-color(success, 800);
    &:hover {
      outline: none;
      background-color: tokens.ivory-color(success, 100);
    }
  }
  &.btn-danger {
    color: tokens.ivory-color(error, 700);
    &:hover {
      outline: none;
      background-color: tokens.ivory-color(error, 100);
    }
  }
  &.disabled, &:disabled, &[disabled] {
    background: transparent;
    color: rgba(0, 0, 0, 0.25);
    cursor: not-allowed;
  }
}

/* Buttons with different sizes  */
.btn-sm {
  height: 1.75rem;
  padding: 0 1rem;
  border-radius: 0.25rem;
  @include mixins.text-size(0.75rem, 1.5rem);
  &.btn-ro {
    border-radius: 1rem;
  }
}
