@use "./common/mixins" as mixins;

.iv-card {
  @include mixins.culture-default-border("border");
  border-radius: 3px;
  &-header {
    @include mixins.culture-default-border("border-bottom");
    padding: 1rem;
    &-text {
      margin: unset;
    }
  }
  &-content {
    padding: 1rem;
    text-align: justify;
  }
  &-footer {
    @include mixins.culture-default-border("border-top");
    padding: 1rem;
  }
}
