.iv-checkbox {
  position: relative;
  margin-bottom: 0.5rem;
  input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    top: 0.25rem;
    left: 0;
    height: 1rem;
    width: 1rem;
    padding: 0;
    margin: 0;
    cursor: pointer;
    & + label {
      position: relative;
      padding-left: 1.4rem;
      line-height: 1.5rem;
      font-size: 0.875rem;
      cursor: pointer;
      &::before {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        height: 1rem;
        width: 1rem;
        box-sizing: border-box;
        border: 1px solid color(neutral-4);
        border-radius: 3px;
        cursor: pointer;
      }
    }
    &:disabled {
      & + label {
        opacity: 0.65;
        cursor: not-allowed;
        &::before {
          background-color: color(neutral-1);
          cursor: not-allowed;
        }
      }
    }
    &:checked {
      & + label {
        &::before {
          background-color: color(blue-6);
          border: none;
        }
        &::after {
          position: absolute;
          content: "";
          height: 0.313rem;
          width: 0.563rem;
          border-left: 0.125rem solid color(light);
          border-bottom: 0.125rem solid color(light);
          top: 0;
          left: 0.188rem;
          @include transform(translateY(4px) rotate(-45deg));
        }
      }
      &:disabled {
        & + label {
          opacity: 0.65;
          cursor: not-allowed;
          &::before {
            background-color: color(blue-6);
            cursor: not-allowed;
          }
          &::after {
            cursor: not-allowed;
          }
        }
      }
    }
  }
}
