.iv-file {
  position: relative;
  height: 2rem;
  max-width: 20rem;
  background-color: color(gray-0);
  border: 1px solid #B7B7B7;
  border-radius: 0.1875rem;
  input[type="file"] {
    display: none;
  }
  .iv-file-select {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    @include text-size(0.8125rem, 1.75rem);
  }
  &:hover, &:focus {
    @extend %defualt-element-focus
  }
}
