.ivory-form {
  .form-field {
    margin-bottom: 12px;
  }
  .form-label {
    position: relative;
    display: block;
    font-size: 12px;
    line-height: 30px;
  }
}

%default-form-element {
  display: block;
  width: 100%;
  height: 1.875rem;
  line-height: 1.875rem;
  font-size: 0.875rem;
  font-weight: 400;
  border: none;
  background-color: transparent;
  outline: none;
}
@mixin webappearance($property) {
  -webkit-appearance: $property;
  -moz-appearance: $property;
  -ms-appearance: $property;
  -o-appearance: $property;
}
.ivory-input {
  @extend %default-form-element;
  padding: 0.25rem;
  border-bottom: 1px solid #B7B7B7;
  border-radius: 0;
  max-width: 200px;
  &:not([readonly]):focus {
    border-bottom: 1px solid #0875e1;
  }
}

.ivory-select-wrapper {
  position: relative;
  cursor: pointer;
  .ivory-select {
    @include webappearance(none);
    @extend %default-form-element;
    margin: 0;
    padding: 0 1.5rem 0 0.25rem;
    border: none;
    border-bottom: 1px solid #B7B7B7;
    border-radius: 0;
    cursor: pointer;
    &:focus {
      border-bottom: 1px solid #0875e1;
    }
  }
  &:after {
    position: absolute;
    content: "";
    height: 1rem;
    width: 1rem;
    top: 0.438rem;
    right: 0.313rem;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMCAyMCI+ICA8cGF0aCB0cmFuc2Zvcm09InJvdGF0ZSgtOTAgMTAuMDAxMzE1MTE2ODgyMzI2LDkuOTk5NzcxMTE4MTY0MDYyKSAiIGlkPSJzdmdfMSIgZD0ibTguMzg4LDEwLjA0OWw0Ljc2LC00Ljg3M2MwLjMwMywtMC4zMSAwLjI5NywtMC44MDQgLTAuMDEyLC0xLjEwNWMtMC4zMDksLTAuMzA0IC0wLjgwMywtMC4yOTMgLTEuMTA1LDAuMDEybC01LjMwNSw1LjQzM2MtMC4zMDMsMC4zMSAtMC4yOTYsMC44MDUgMC4wMTIsMS4xMDVsNS40MzMsNS4zMDdjMC4xNTIsMC4xNDggMC4zNSwwLjIyMyAwLjU0NywwLjIyM2MwLjIwMywwIDAuNDA2LC0wLjA4IDAuNTU5LC0wLjIzNmMwLjMwMywtMC4zMDkgMC4yOTUsLTAuODAzIC0wLjAxMiwtMS4xMDRsLTQuODc3LC00Ljc2MnoiLz48L3N2Zz4=);
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: middle;
    margin: 0;
    z-index: -1;
  }
}

.ivory-textarea {
  position: relative;
  display: block;
  width: 100%;
  min-height: 120px;
  font-size: 13px;
  line-height: 21px;
  font-family:  'Montserrat', sans-serif;
  border: none;
  border-bottom: 1px solid #B7B7B7;
  border-radius: 0;
}
