@use "./common/tokens" as tokens;
@use "./common/mixins" as mixins;

%default-form-element {
  position: relative;
  display: block;
  width: 100%;
  font-size: 0.8125rem;
  font-weight: 400;
  border: 1px solid tokens.ivory-color(neutral, 400);
  border-radius: 0.1875rem;
  background-color: tokens.ivory-color(neutral, 50);
  color: tokens.ivory-color(neutral, 900);
}
.iv-input {
  @extend %default-form-element;
  height: 2rem;
  line-height: 2rem;
  padding: 0 0.5rem;
  &:not([readonly]):focus {
    @include mixins.focus-ring;
  }
}
.iv-select {
  position: relative;
  cursor: pointer;
  select {
    @include mixins.webappearance(none);
    @extend %default-form-element;
    height: 2rem;
    line-height: 1rem;
    margin: 0;
    padding: 0 1.5rem 0 0.25rem;
    cursor: pointer;
    &:focus {
      @include mixins.focus-ring;
    }
  }
  &:after {
    position: absolute;
    content: "";
    height: 1rem;
    width: 1rem;
    top: 0.438rem;
    right: 0.313rem;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMCAyMCI+ICA8cGF0aCB0cmFuc2Zvcm09InJvdGF0ZSgtOTAgMTAuMDAxMzE1MTE2ODgyMzI2LDkuOTk5NzcxMTE4MTY0MDYyKSAiIGlkPSJzdmdfMSIgZD0ibTguMzg4LDEwLjA0OWw0Ljc2LC00Ljg3M2MwLjMwMywtMC4zMSAwLjI5NywtMC44MDQgLTAuMDEyLC0xLjEwNWMtMC4zMDksLTAuMzA0IC0wLjgwMywtMC4yOTMgLTEuMTA1LDAuMDEybC01LjMwNSw1LjQzM2MtMC4zMDMsMC4zMSAtMC4yOTYsMC44MDUgMC4wMTIsMS4xMDVsNS40MzMsNS4zMDdjMC4xNTIsMC4xNDggMC4zNSwwLjIyMyAwLjU0NywwLjIyM2MwLjIwMywwIDAuNDA2LC0wLjA4IDAuNTU5LC0wLjIzNmMwLjMwMywtMC4zMDkgMC4yOTUsLTAuODAzIC0wLjAxMiwtMS4xMDRsLTQuODc3LC00Ljc2MnoiLz48L3N2Zz4=);
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: middle;
    margin: 0;
  }
}
.iv-textarea {
  @extend %default-form-element;
  min-height: 120px;
  min-width: 200px;
  padding: 0.5rem;
  &:not([readonly]):focus {
    @include mixins.focus-ring;
  }
}
.iv-field {
  margin-bottom: 1rem;
}
.iv-label {
  position: relative;
  display: block;
  @include mixins.text-size(0.875rem, 1.875rem);
}
.iv-form-horizontal {
  .iv-field {
    display: flex;
    flex-flow: row;
  }
  .iv-label {
    display: flex;
    width: 40%;
  }
  .iv-input,
  .iv-select,
  .iv-textarea {
    display: flex;
    width: 60%;
  }
}
