@use "./common/colors" as colors;
@use "./common/mixins" as mixins;

ul.iv-list, ol.iv-list, dl.iv-list {
  margin-bottom: 1rem;
  list-style-position: inside;
  text-indent: 0.5rem;
  font-size: 0.875rem;
  li {
	@include mixins.text-size(0.875rem, 1.5rem);
  }
}
ul.iv-list {
  &-square {
    list-style-type: square;
  }
  &-circle {
    list-style-type: circle;
  }
  &-disc {
    list-style-type: disc;
  }
}
ol.iv-list {
  &-decimal {
    list-style-type: decimal;
  }
  &-lower-alpha {
    list-style-type: lower-alpha;
  }
  &-upper-roman {
    list-style-type: upper-roman;
  }
}
ul.iv-list li ul.iv-list,
ul.iv-list li ol.iv-list,
ol.iv-list li ul.iv-list,
ol.iv-list li ol.iv-list {
  margin-left: 1rem;
  margin-bottom: 0;
}
dl.iv-list {
  dt {
	@include mixins.text-size(0.875rem, 1.5rem);
    font-weight: 500;
  }
  dd {
    @include mixins.text-size(0.813rem, 1.5rem);
    margin-left: 1rem;
  }
}

ul.iv-styled-list {
  margin: 0;
  padding-left: 1.2rem;
  li {
    position: relative;
    list-style-type: none;
    padding-left: 1.5rem;
    margin-bottom: 0.5rem;
	  @include mixins.text-size(0.875rem, 1.5rem);
  }
  li:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 2px;
    width: 5px;
    height: 11px;
    border-width: 0 2px 2px 0;
    border-style: solid;
    border-color: colors.color(blue-5);
    transform-origin: bottom left;
    transform: rotate(45deg);
  }
}
