@use "./common/colors" as colors;

.iv-progress {
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  width: 100%;
  height: 14px;
  background-color: colors.color(gray-3);
	border: none;
  border-radius: 7px;
  &::-webkit-progress-bar {
    background-color: colors.color(gray-3);
    border-radius: 7px;
  }
  &::-webkit-progress-value {
    background-color: colors.color(blue-5);
    border-radius: 7px;
  }
  &::-moz-progress-bar {
    background-color: colors.color(blue-5);
    border-radius: 7px;
  }
  &.progress-sm {
    height: 4px;
    border-radius: 2px;
    &::-webkit-progress-bar,
    &::-webkit-progress-value,
    &::-moz-progress-bar {
      border-radius: 2px;
    }
  }
}
