%radio-defaults {
  position: absolute;
  height: 1rem;
  width: 1rem;
  top: 0;
  left: 0;
}
.ivory-radio {
  position: relative;
  margin-bottom: 0.5rem;
  input[type="radio"] {
    @extend %radio-defaults;
    opacity: 0;
    padding: 0;
    margin: 0;
    cursor: pointer;
    & + label {
      position: relative;
      padding-left: 1.4rem;
      line-height: 1.5rem;
      font-size: 0.875rem;
      cursor: pointer;
      &::before {
        content: "";
        @extend %radio-defaults;
        display: inline-block;
        border: 1px solid #C9C9C9;
        box-sizing: border-box;
        border-radius: 50%;
        cursor: pointer;
      }
    }
    &:disabled {
      & + label {
        opacity: 0.65;
        cursor: not-allowed;
        &::before {
          cursor: not-allowed;
          background-color: #F4F4F4;
        }
      }
    }
    &:checked {
      & + label {
        &::before {
          box-shadow: inset 0 0 0 0.313rem #3C7EED;
          border: none;
        }
      }
      &:disabled {
        & + label {
          opacity: 0.65;
          cursor: not-allowed;
          &::before {
            cursor: not-allowed;
            box-shadow: inset 0 0 0 0.313rem #3C7EED;
          }
        }
      }
    }
  }  
}
