@import './common/mixins';

@keyframes spinnerrotate {
  0% {
    @include transform(rotate(0deg));
  }
  100% {
    @include transform(rotate(360deg));
  }
}
@for $i from 2 through 6 {
  $size: ($i / 2) * 16;
  .iv-spinner-#{$size} {
    height: #{$size + 'px'};
    width: #{$size + 'px'};
    border: #{$i + 'px'} solid #CED4DA;
  }
}
.iv-spinner-16,
.iv-spinner-24,
.iv-spinner-32,
.iv-spinner-40,
.iv-spinner-48 {
  position: relative;
  border-radius: 50%;
  border-left-color: #495057;
  @include transform(translateZ(0));
  -webkit-animation: spinnerrotate 1.1s infinite linear;
  animation: spinnerrotate 1.1s infinite linear;
}
