$directions: 'top', 'right', 'bottom', 'left';
$inverse-dir: ('top': 'bottom', 'bottom': 'top', 'left': 'right', 'right': 'left');
@mixin tooltip-position-system() {
  @each $dir in $directions {
    .#{$dir} {
      $inverse: map-get($inverse-dir, $dir);
      #{$inverse}: calc(100% + 0.5rem);
      @if (($dir == top) or ($dir == bottom)) {
        #{$dir}: auto;
        left: 50%;
        transform: translateX(-50%);
      } @else {
        top: 50%;
        bottom: auto;
        transform: translateY(-50%);
      }
      &::before {
        border-#{$inverse}-width: 0;
        border-#{$dir}-color: #212121;
        @if ($dir=="top" or $dir=="bottom") {
          #{$dir}: 100%;
          #{$inverse}: auto;
          left: 50%;
          transform: translateX(-50%);
        } @else {
          top: 50%;
          #{$dir}: 100%;
          transform: translateY(-50%);
        }
      }
    }
  }
}
@mixin corner-tooltip-system($dirX, $dirY) {
  .#{$dirX}-#{$dirY} {
    $inverseX: map-get($inverse-dir, $dirX);
    $inverseY: map-get($inverse-dir, $dirY);
    #{$inverseX}: calc(100% + 0.75rem);
    #{$inverseY}: calc(100% - 0.75rem);
    border-#{$inverseX}-#{$inverseY}-radius: 0;
    &:before {
      #{$inverseX}: -0.75rem;
      #{$inverseY}: 0;
      border-#{$dirX}: 0.375rem solid #212121;
      border-#{$inverseX}: 0.375rem solid transparent;
      border-#{$inverseY}: 0.375rem solid #212121;
      border-#{$dirY}: 0.375rem solid transparent;
    }
  }
}
.iv-tooltip {
  position: relative;
  display: inline-block;
  .tooltip-content {
    display: none;
    position: absolute;
    padding: 0.5rem 1rem;
    color: #ffffff;
    background-color: #212121;
    font-size: 0.75rem;
    line-height: 1.25rem;
    border-radius: 0.5rem;
    box-sizing: border-box;
    z-index: 9999;
    &::before {
      content: '';
      position: absolute;
      border: 0.5rem solid transparent;
    }
    &.tooltip-xs {
      width: 200px;
    }
    &.tooltip-md {
      width: 420px;
    }
    &.tooltip-lg {
      width: 640px;
    }
  }
  @include tooltip-position-system;
  @include corner-tooltip-system(top,right);
  @include corner-tooltip-system(top,left);
  @include corner-tooltip-system(bottom,right);
  @include corner-tooltip-system(bottom,left);
  &:hover {
    .tooltip-content {
      display: block;
    }
  }
}
