$directions: 'top', 'right', 'bottom', 'left';
$inverse-dir: ('top': 'bottom', 'bottom': 'top', 'left': 'right', 'right': 'left');
@mixin tooltip-position-system() {
  @each $dir in $directions {
    &.#{$dir} {
      $inverse: map-get($inverse-dir, $dir);
      #{$inverse}: calc(100% + 0.5rem);
      @if (($dir == top) or ($dir == bottom)) {
        #{$dir}: auto;
        left: 50%;
        transform: translateX(-50%);
        &::before {
          border-#{$inverse}-width: 0;
          border-#{$dir}-color: #212121;
          #{$dir}: 100%;
          #{$inverse}: auto;
          left: 50%;
          transform: translateX(-50%);
        }
      } @else {
        top: 50%;
        bottom: auto;
        transform: translateY(-50%);
        &::before {
          border-#{$inverse}-width: 0;
          border-#{$dir}-color: #212121;
          top: 50%;
          #{$dir}: 100%;
          transform: translateY(-50%);
        }
      }
    }
  }
}

.ivory-tooltip {
  position: relative;
  display: inline-block;
  .tooltip-content {
    display: none;
    position: absolute;
    padding: 0.5rem 1rem;
    color: #ffffff;
    background-color: #212121;
    font-size: 0.75rem;
    line-height: 1.25rem;
    border-radius: 0.5rem;
    box-sizing: border-box;
    box-shadow: 0 1px 4px rgba(0,0,0,0.5);
    z-index: 9999;
    &.top,
    &.right,
    &.bottom,
    &.left {
      &::before {
        content: '';
        position: absolute;
        border: 0.5rem solid transparent;
      }
    }
    @include tooltip-position-system;
    &.tooltip-xs {
      width: 200px;
    }
    &.tooltip-md {
      width: 420px;
    }
    &.tooltip-lg {
      width: 640px;
    }
  }
  &:hover {
    .tooltip-content {
      display: block;
    }
  }
}
