* {
  font-size: 16px;
  font-family: 'Montserrat';
}

b,
strong {
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 1.0rem;
}
h1 {
  font-size: 2rem;
	line-height: 3rem;
}
h2 {
  font-size: 1.75rem;
	line-height: 3rem;
}
h3 {
  font-size: 1.5rem;
	line-height: 2.5rem;
}
h4 {
  font-size: 1.375rem;
	letter-spacing: 0;
	line-height: 2.25rem;
}
h5 {
  font-size: 1.125rem;
	letter-spacing: 0;
	line-height: 1.75rem;
}
h6 {
  font-size: 1rem;
	letter-spacing: 0;
	line-height: 1.75rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 0.875rem;
  line-height: 1.75rem;
  font-weight: 400;
}

.p1, .p2, .p3, .p4 {
  margin-top: 0;
  margin-bottom: 1rem;
}
