
%big-heading {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
}
%small-heading {
  display: block;
  margin-top: 0;
  margin-bottom: 0.5rem;
}
%p-default {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 1.5rem;
}
h1 {
  @extend %big-heading;
  font-size: 2.25rem;
  line-height: 2.75rem;
}
h2 {
  @extend %big-heading;
  font-size: 2rem;
  line-height: 2.5rem;
}
h3 {
  @extend %big-heading;
  font-size: 1.75rem;
  line-height: 2.25rem;
}
h4 {
  @extend %small-heading;
  font-size: 1.5rem;
  line-height: 2rem;
}
h5 {
  @extend %small-heading;
  font-size: 1.25rem;
  line-height: 2rem;
}
h6 {
  @extend %small-heading;
  font-size: 1.125rem;
  line-height: 1.75rem;
}
p {
  @extend %p-default;
  font-size: 1rem;
}
small {
  font-size: 80%;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: #2285F6;
  &:hover, &:focus {
    color: color(blue-8);
    text-decoration: underline;
  }
}
