/* neutral */
$iv-light: #fff;
$iv-dark: #000;
$iv-neutral-0: #f8f9fa;
$iv-neutral-1: #f1f3f5;
$iv-neutral-2: #e9ecef;
$iv-neutral-3: #dee2e6;
$iv-neutral-4: #ced4da;
$iv-neutral-5: #adb5bd;
$iv-neutral-6: #868e96;
$iv-neutral-7: #495057;
$iv-neutral-8: #343a40;
$iv-neutral-9: #212529;
/* red */
$iv-red-0: #fff1f5;
$iv-red-1: #ffe8e8;
$iv-red-2: #ffccc9;
$iv-red-3: #ffa8a8;
$iv-red-4: #ff8787;
$iv-red-5: #ff6b6b;
$iv-red-6: #fa5252;
$iv-red-7: #f03e3e;
$iv-red-8: #e03131;
$iv-red-9: #c82f2f;
/* pink */
$iv-pink-0: #fff0f6;
$iv-pink-1: #ffdeeb;
$iv-pink-2: #fcc2d7;
$iv-pink-3: #faa2c1;
$iv-pink-4: #f783ac;
$iv-pink-5: #f06595;
$iv-pink-6: #e64980;
$iv-pink-7: #d6336c;
$iv-pink-8: #c2255c;
$iv-pink-9: #a61e4d;
/* purple */
$iv-purple-0: #f8f0fc;
$iv-purple-1: #f3d9fa;
$iv-purple-2: #eebefa;
$iv-purple-3: #e599f7;
$iv-purple-4: #da77f2;
$iv-purple-5: #cc5de8;
$iv-purple-6: #be4bdb;
$iv-purple-7: #ae3ec9;
$iv-purple-8: #9c36b5;
$iv-purple-9: #862e9c;
/* indigo */
$iv-indigo-0: #edf2ff;
$iv-indigo-1: #dbe4ff;
$iv-indigo-2: #bac8ff;
$iv-indigo-3: #91a7ff;
$iv-indigo-4: #748ffc;
$iv-indigo-5: #5c7cfa;
$iv-indigo-6: #4c6ef5;
$iv-indigo-7: #4263eb;
$iv-indigo-8: #3b5bdb;
$iv-indigo-9: #364fc7;
/* blue */
$iv-blue-0: #eaf5ff;
$iv-blue-1: #d7eafc;
$iv-blue-2: #a6d2ff;
$iv-blue-3: #74b9ff;
$iv-blue-4: #5cacfc;
$iv-blue-5: #40a0ff;
$iv-blue-6: #2285f6;
$iv-blue-7: #0875e1;
$iv-blue-8: #005cb9;
$iv-blue-9: #004387;
/* cyan */
$iv-cyan-0: #e3fafc;
$iv-cyan-1: #c5f6fa;
$iv-cyan-2: #99e9f2;
$iv-cyan-3: #66d9e8;
$iv-cyan-4: #3bc9db;
$iv-cyan-5: #22b8cf;
$iv-cyan-6: #15aabf;
$iv-cyan-7: #1098ad;
$iv-cyan-8: #0c8599;
$iv-cyan-9: #0b7285;
/* teal */
$iv-teal-0: #e6fcf5;
$iv-teal-1: #c3fae8;
$iv-teal-2: #96f2d7;
$iv-teal-3: #63e6be;
$iv-teal-4: #38d9a9;
$iv-teal-5: #20c997;
$iv-teal-6: #12b886;
$iv-teal-7: #0ca678;
$iv-teal-8: #099268;
$iv-teal-9: #087f5b;
/* green */
$iv-green-0: #f6ffed;
$iv-green-1: #e8fccf;
$iv-green-2: #d9f7be;
$iv-green-3: #b7eb8f;
$iv-green-4: #95de64;
$iv-green-5: #84d750;
$iv-green-6: #73d13d;
$iv-green-7: #52c41a;
$iv-green-8: #389e0d;
$iv-green-9: #237804;
/* yellow */
$iv-yellow-0: #fffbe6;
$iv-yellow-1: #fff9d0;
$iv-yellow-2: #fff3bf;
$iv-yellow-3: #ffec99;
$iv-yellow-4: #ffe066;
$iv-yellow-5: #ffd43b;
$iv-yellow-6: #fcc419;
$iv-yellow-7: #fab005;
$iv-yellow-8: #f59f00;
$iv-yellow-9: #f08c00;
/* Orange */
$iv-orange-0: #fff4e6;
$iv-orange-1: #ffe8cc;
$iv-orange-2: #ffd8a8;
$iv-orange-3: #ffc078;
$iv-orange-4: #ffa94D;
$iv-orange-5: #ff922b;
$iv-orange-6: #fd7e14;
$iv-orange-7: #f76707;
$iv-orange-8: #e8590c;
$iv-orange-9: #d9480f;
