@font-face {
  font-family: 'Ivory Icons';
  src: url('./ivory_icons.eot');
  src: url('./ivory_icons.eot') format('embedded-opentype'),
       url('./ivory_icons.ttf') format('truetype'),
       url('./ivory_icons.woff') format('woff'),
       url('./ivory_icons.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.ivory-icon-angle-down-circle,
.ivory-icon-angle-down,
.ivory-icon-angle-left-circle,
.ivory-icon-angle-left,
.ivory-icon-angle-right-circle,
.ivory-icon-angle-right,
.ivory-icon-angle-up-circle,
.ivory-icon-angle-up,
.ivory-icon-arrow-down,
.ivory-icon-arrow-left,
.ivory-icon-arrow-right,
.ivory-icon-arrow-up,
.ivory-icon-attachment,
.ivory-icon-audio,
.ivory-icon-brightness,
.ivory-icon-calendar,
.ivory-icon-cart,
.ivory-icon-chat,
.ivory-icon-check,
.ivory-icon-check-circle,
.ivory-icon-database,
.ivory-icon-envelope,
.ivory-icon-eye-hide,
.ivory-icon-eye,
.ivory-icon-file-text,
.ivory-icon-file,
.ivory-icon-filter,
.ivory-icon-fire,
.ivory-icon-forward,
.ivory-icon-headphones,
.ivory-icon-home,
.ivory-icon-hour-glass,
.ivory-icon-inbox,
.ivory-icon-key,
.ivory-icon-layers,
.ivory-icon-leaf,
.ivory-icon-like,
.ivory-icon-link,
.ivory-icon-location,
.ivory-icon-map,
.ivory-icon-minus-circle,
.ivory-icon-paper-plane,
.ivory-icon-plus-circle,
.ivory-icon-printer,
.ivory-icon-reply,
.ivory-icon-search,
.ivory-icon-settings,
.ivory-icon-share,
.ivory-icon-star,
.ivory-icon-tag,
.ivory-icon-times-circle,
.ivory-icon-times,
.ivory-icon-trash,
.ivory-icon-user,
.ivory-icon-wallet,
.ivory-icon-webcamera,
.ivory-icon-wifi {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Ivory Icons' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* For better rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ivory-icon-angle-down-circle:before {
  content: "\e900";
}
.ivory-icon-angle-down:before {
  content: "\e901";
}
.ivory-icon-angle-left-circle:before {
  content: "\e902";
}
.ivory-icon-angle-left:before {
  content: "\e903";
}
.ivory-icon-angle-right-circle:before {
  content: "\e904";
}
.ivory-icon-angle-right:before {
  content: "\e905";
}
.ivory-icon-angle-up-circle:before {
  content: "\e906";
}
.ivory-icon-angle-up:before {
  content: "\e907";
}
.ivory-icon-arrow-down:before {
  content: "\e908";
}
.ivory-icon-arrow-left:before {
  content: "\e909";
}
.ivory-icon-arrow-right:before {
  content: "\e90a";
}
.ivory-icon-arrow-up:before {
  content: "\e90b";
}
.ivory-icon-attachment:before {
  content: "\e90c";
}
.ivory-icon-audio:before {
  content: "\e90d";
}
.ivory-icon-brightness:before {
  content: "\e90e";
}
.ivory-icon-calendar:before {
  content: "\e90f";
}
.ivory-icon-cart:before {
  content: "\e910";
}
.ivory-icon-chat:before {
  content: "\e911";
}
.ivory-icon-check:before {
  content: "\e912";
}
.ivory-icon-check-circle:before {
  content: "\e913";
}
.ivory-icon-database:before {
  content: "\e914";
}
.ivory-icon-envelope:before {
  content: "\e915";
}
.ivory-icon-eye-hide:before {
  content: "\e916";
}
.ivory-icon-eye:before {
  content: "\e917";
}
.ivory-icon-file-text:before {
  content: "\e918";
}
.ivory-icon-file:before {
  content: "\e919";
}
.ivory-icon-filter:before {
  content: "\e91a";
}
.ivory-icon-fire:before {
  content: "\e91b";
}
.ivory-icon-forward:before {
  content: "\e91c";
}
.ivory-icon-headphones:before {
  content: "\e91d";
}
.ivory-icon-home:before {
  content: "\e91e";
}
.ivory-icon-hour-glass:before {
  content: "\e91f";
}
.ivory-icon-inbox:before {
  content: "\e920";
}
.ivory-icon-key:before {
  content: "\e921";
}
.ivory-icon-layers:before {
  content: "\e922";
}
.ivory-icon-leaf:before {
  content: "\e923";
}
.ivory-icon-like:before {
  content: "\e926";
}
.ivory-icon-link:before {
  content: "\e924";
}
.ivory-icon-location:before {
  content: "\e925";
}
.ivory-icon-map:before {
  content: "\e927";
}
.ivory-icon-minus-circle:before {
  content: "\e928";
}
.ivory-icon-paper-plane:before {
  content: "\e929";
}
.ivory-icon-plus-circle:before {
  content: "\e92a";
}
.ivory-icon-printer:before {
  content: "\e92b";
}
.ivory-icon-reply:before {
  content: "\e92c";
}
.ivory-icon-search:before {
  content: "\e92d";
}
.ivory-icon-settings:before {
  content: "\e92e";
}
.ivory-icon-share:before {
  content: "\e92f";
}
.ivory-icon-star:before {
  content: "\e930";
}
.ivory-icon-tag:before {
  content: "\e931";
}
.ivory-icon-times-circle:before {
  content: "\e932";
}
.ivory-icon-times:before {
  content: "\e933";
}
.ivory-icon-trash:before {
  content: "\e934";
}
.ivory-icon-user:before {
  content: "\e935";
}
.ivory-icon-wallet:before {
  content: "\e936";
}
.ivory-icon-webcamera:before {
  content: "\e937";
}
.ivory-icon-wifi:before {
  content: "\e938";
}
