.top-right-end {
	position: absolute;
	top: 1rem;
	right: 1rem;
}
.stat-icons {
	display: flex;
	font-size: 24px;
}
.stat-item {
	display: block;
}
.stat-icon {
	display: block;
	width: 24px;
	height: 24px;
}
.stat-icon:hover {
	border-bottom: none;
	text-decoration: none;
}
.stat-icon svg {
	fill: #868E96;
}
.stat-icon svg:hover {
	fill: #495057;
}

.docs-wrapper {
	position: relative;
	display: flex;
	font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.doc-nav {
	position: fixed;
	width: 280px;
	height: 100vh;
	padding: 2rem 0;
	overflow-y: scroll;
}
.doc-nav nav {
	width: 100%;
	height: auto;
	border-right: 1px solid #e8e8e8
}
.doc-nav .nav-section {
  margin-bottom: 1rem;
}
.doc-nav .nav-section-title {
  display: block;
  padding-left: 3.5rem;
  font-size: 0.875rem;
  line-height: 2.25rem;
  font-weight: 500;
  color: #212121;
}
.doc-nav .nav-section li a {
	display: block;
	text-decoration: none;
	border: none;
	padding-left: 5rem;
	font-size: .813rem;
	line-height: 2rem;
	color: #424242;
}
.doc-nav .nav-section li:hover a {
	color: #40a0ff
}
.doc-nav nav ul li a.active {
	margin-right: -1px;
	color: #40a0ff;
	border-right: 3px solid #40a0ff;
	background-color: #eaf5ff
}
.docs-container {  
	position: relative;
	width: 100%;
	max-width: 960px;
	margin: 0 auto 0 360px;
	padding: 2rem;
}
.docs-section {
	display: none;
	position: relative;
	margin-bottom: 1.5rem;
	padding-top: 3rem;
}
.hero {
	font-size: 64px;
	font-weight: 400;
	letter-spacing: 0.5rem;
	padding: 6rem 0;
	text-align: center
}
.section-active {
	display: block
}
.docs-section .section-title {
	font-weight: 500;
	color: #161616
}
.docs-section .section-subtitle {
	font-weight: 500;
	color: #212121
}
.docs-section .section-body {
	color: #424242
}
.font-highlight {
	display: block;
	font-size: 18px;
	line-height: 32px
}
.type-system {
	background-color: #fff9d0
}
.type-system table {
	width: 100%
}
.type-system th {
	padding: 0 2.5rem;
	font-family: 'Courier Prime', monospace;
	font-size: .875rem;
	line-height: 3rem;
	text-align: left;
	border-bottom: 1px solid #495057;
	border-right: 1px solid #495057
}
.type-system td:last-child,
.type-system th:last-child {
	border-right: none
}
.type-system tr:last-child td {
	border-bottom: none
}
.type-system td {
	padding: 0 2.5rem;
	vertical-align: middle;
	border-bottom: 1px solid #495057;
	border-right: 1px solid #495057
}
.type-system td span {
	font-family: 'Courier Prime', monospace;
	font-size: 14px
}
.icon-frame {
	position: relative;
	display: flex;
	width: 120px;
	height: 90px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: .5rem;
	color: #868e96;
	font-size: 24px
}
.icon-frame cite {
	display: flex;
	font-size: 12px;
	line-height: 32px
}
.icon-frame:hover {
	background-color: #40a0ff;
	color: #fafafa;
	border-radius: .4rem
}
.color-palette-panel {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 420px
}
.color-palette-panel .color-cell {
	display: flex;
	flex: 1;
	height: 42px;
	font-family: 'Courier Prime', monospace;
	font-size: 14px;
	line-height: 42px;
	padding-right: 1rem;
	justify-content: flex-end
}
.example-grid {
	margin-bottom: 1rem
}
.example-grid [class*=col-],
.example-grid [class*=col] {
	text-align: center;
	text-transform: uppercase;
	font-size: .75rem;
	font-weight: 500;
	height: 2.625rem;
	line-height: 2.625rem;
	margin-bottom: 1rem;
	background-color: #DEE2E6;
	border: 1px solid #CED4DA;
}
.code {
	font-family: 'Courier Prime', monospace;
	background-color: #F1F3F5;
	padding: .2rem .5rem;
	border-radius: 1rem;
}
pre {
	font-family: 'Courier Prime', monospace;
	background-color: #343A40;
	color: #fafafa;
	padding: 0.5rem;
	font-size: 0.815rem;
	line-height: 1.5rem;
	margin-bottom: 2rem;
	border-radius: 0.25rem;
	max-height: 360px;
	white-space: nowrap;
	overflow: scroll;
}
.timeline {
	position: relative;
	max-width: 100%;
	padding: 2rem;
	border-left: 4px solid #40A0FF;
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
	margin: 2rem 0 2rem 10rem;
	list-style: none;
	text-align: left
}
.timeline .event {
	position: relative;
	padding-bottom: 2rem
}
.timeline .event:last-of-type {
	padding-bottom: 0;
	margin-bottom: 0;
	border: none
}
.timeline .event:after,
.timeline .event:before {
	position: absolute;
	display: block;
	top: 0
}
.timeline .event:before {
	left: -217.5px;
	color: #161616;
	content: attr(data-date);
	text-align: right;
	min-width: 120px
}
.timeline .event:after {
	box-shadow: 0 0 0 4px #40a0ff;
	left: -39.85px;
	background: #fff;
	border-radius: 50%;
	height: 11px;
	width: 11px;
	content: "";
	top: 5px
}
.timeline .event cite,
.timeline .event:before {
	font-family: 'Courier Prime', monospace;
	font-size: 13px;
	line-height: 20px;
	color: #424242
}


@media only screen and (max-width: 960px) {
	.burger-container {
		position: absolute;
		top: 0;
		left: 0;
		height: 50px;
		width: 50px;
		cursor: pointer;
		-webkit-transform: rotate(0deg);
						transform: rotate(0deg);
		-webkit-transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
						transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
		-webkit-user-select: none;
			 -moz-user-select: none;
				-ms-user-select: none;
						user-select: none;
		-webkit-tap-highlight-color: transparent;
	}
	.burger-container .burger {
		width: 18px;
		height: 8px;
		position: relative;
		display: block;
		margin: -4px auto 0;
		top: 50%;
	}
	.burger-container .burger .bar {
		width: 100%;
		height: 1px;
		display: block;
		position: relative;
		background: #000000;
		-webkit-transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
		transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
		-webkit-transition-delay: 0s;
						transition-delay: 0s;
	}
	.burger-container .burger .bar.topBar {
		-webkit-transform: translateY(0px) rotate(0deg);
						transform: translateY(0px) rotate(0deg);
	}
	.burger-container .burger .bar.btmBar {
		-webkit-transform: translateY(6px) rotate(0deg);
						transform: translateY(6px) rotate(0deg);
	}
	.burger-container.menu-opened {
		-webkit-transform: rotate(90deg);
						transform: rotate(90deg);
	}
	.burger-container.menu-opened .burger .bar {
		-webkit-transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
		transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
		-webkit-transition-delay: 0.2s;
						transition-delay: 0.2s;
	}
	.burger-container.menu-opened .burger .bar.topBar {
		-webkit-transform: translateY(4px) rotate(45deg);
						transform: translateY(4px) rotate(45deg);
	}
	.burger-container.menu-opened .burger .bar.btmBar {
		-webkit-transform: translateY(3px) rotate(-45deg);
						transform: translateY(3px) rotate(-45deg);
	}

	.doc-nav {
		display: none;
		position: absolute;
		top: 50px;
		width: 100vw;
		height: calc(100vh - 50px);
		padding: 0;
		z-index: 999;
		overflow-y: scroll;
	}
	.doc-nav.menu-opened {
		display: block; 
		background-color: #FAFAFA;
		-webkit-transition: all 0.3s ease-in, background 0.5s ease-in;
  					transition: all 0.3s ease-in, background 0.5s ease-in;
  	-webkit-transition-delay: 0.25s;
          	transition-delay: 0.25s;
	}
	.docs-container {
		position: relative;
		width: 100%;
		margin: 0;
		margin-top: 60px;
		padding: 0;
	}
	.docs-container .docs-section {
		padding-left: 1rem;
		padding-right: 1rem;
	}
}
