.docs-wrapper {
  position: relative;
  display: flex;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.doc-nav {
  position: fixed;
  width: 280px;
  height: 100vh;
  padding: 2rem 0;
}
.doc-nav nav {
  width: 100%;
  height: auto;
  border-right: 1px solid #E8E8E8;
}
.doc-nav nav ul li a {
  display: block;
  text-decoration: none;
  border: none;
  padding-left: 5rem;
  font-size: 0.875rem;
  line-height: 2.25rem;
  color: #424242;
  margin: 0.2rem 0;
}
.doc-nav nav ul li:hover a {
  color: #40A0FF;
}
.doc-nav nav ul li a.active {
  margin-right: -1px;
  color: #40A0FF;
  border-right: 3px solid #40A0FF;
  background-color: #EAF5FF;
}
.docs-container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 2rem;
}
.docs-section {
  display: none;
  position: relative;
  margin-bottom: 1.5rem;
}
.hero {
  font-size: 64px;
  font-weight: 400;
  letter-spacing: 1rem;
  padding: 6rem 0;
  text-align: center;
}
.section-active {
  display: block;
}
.docs-section .section-title {
  font-weight: 500;
  color: #161616;
}
.docs-section .section-subtitle {
  font-weight: 500;
  color: #212121;
}
.docs-section .section-body {
  color: #424242;
}
.font-highlight {
  display: block;
  font-size: 18px;
  line-height: 32px;
}
.type-system {
  background-color: #FFEC99;
}
.type-system table {
  width: 100%;
}
.type-system th {
  padding: 0 2.5rem;
  font-family: 'Courier Prime', monospace;
  font-size: 0.875rem;
  line-height: 3rem;
  text-align: left;
  border-bottom: 1px solid #495057;
  border-right: 1px solid #495057;
}
.type-system th:last-child,
.type-system td:last-child {
  border-right: none;
}
.type-system tr:last-child td {
  border-bottom: none;
}
.type-system td {
  padding: 0 2.5rem;
  vertical-align: middle;
  border-bottom: 1px solid #495057;
  border-right: 1px solid #495057;
}
.type-system td span {
  font-family: 'Courier Prime', monospace;
  font-size: 14px;
}
.icon-frame {
  position: relative;
  display: flex;
  width: 120px;
  height: 90px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
  color: #868E96;
}
.icon-frame {
  font-size: 24px;
}
.icon-frame cite {
  display: flex;
  font-size: 12px;
  line-height: 32px;
}
.icon-frame:hover {
  background-color: #40A0FF;
  color: #FAFAFA;
  border-radius: 0.4rem;
}
.color-palette-panel {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 420px;
}
.color-palette-panel .color-cell {
  display: flex;
  flex: 1;
  height: 42px;
  font-family: 'Courier Prime', monospace;
  font-size: 14px;
  line-height: 42px;
  padding-right: 1rem;
  justify-content: flex-end;
}
.example-grid {
  margin-bottom: 1rem;
}
.example-grid [class*="col"],
.example-grid [class*="col-"] {
  text-align: center;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 500;
  height: 2.625rem;
  line-height: 2.625rem;
  margin-bottom: 1rem;
  background-color: #F1F3F5;
  border: 1px solid #DEE2E6;
}
code {
  font-family: 'Courier Prime', monospace;
  background-color: #FFF4E6;
  padding: 0.2rem 0.5rem;
}
pre {
  font-family: 'Courier Prime', monospace;
  background-color: #FFF4E6;
  padding: 1rem;
  font-size: 0.875rem;
  line-height: 1.75rem;
  margin-bottom: 1rem;
}
